
<body>
    <ul>
      <li style="float:right"><a class="active" href="/login">Log Out</a></li>
    </ul>
</body>
<div class="login-wrap">
	<div class="login-html">
        <div class="center">
            <h2>Employee List</h2>
           
        </div>
        <div>
            <h3>Chefs:</h3>
            
            <div>
                <button type="submit" class="button" > ADD NEW CHEF</button>  
            </div>
        </div>
        
        <div>
            <h3>Waiters:</h3>
            <div>
                <button type="submit" class="button" > ADD NEW WAITER</button>  
            </div>
        </div>
        <div>
            <h3>Delivery Person:</h3>
            <div>
                <button type="submit" class="button" > ADD NEW DELIVERY PERSON </button>  
            </div>
        </div>
        

    </div>
</div>
