
<mat-sidenav-container fullscreen>
    
    <ul class="ul">
        <li class="li" style="float:right"><a class="active" href="/login">Log Out</a></li>
    </ul>

    <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
      (mouseleave)="decrease()">
      <div class="logomain"></div>
      <br>
      <mat-nav-list>
        <mat-list-item routerLink="/employee" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>person</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Employees</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/addemployee" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>add</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Add Employee</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/ingredient" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>store</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Ingredients</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/item" routerLinkActive="active" *ngIf="role=='Manager'">
            <mat-icon mat-list-icon>view_list</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Menu</h5>
            </div>
        </mat-list-item>
    
        <mat-list-item routerLink="/additem" routerLinkActive="active" *ngIf="role=='Manager'">
            <mat-icon mat-list-icon>add</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Add Item</h5>
            </div>
        </mat-list-item>

        <mat-list-item routerLink="/tables" routerLinkActive="active" *ngIf="role=='Manager' || role=='Waiter'">
            <mat-icon mat-list-icon>tab</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Tables</h5>
            </div>
          </mat-list-item>
          
          <mat-list-item routerLink="/order" routerLinkActive="active" *ngIf="role=='Manager' || role=='Waiter' || role=='Customer'">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Place Order</h5>
            </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/current" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>list</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Current Orders</h5>
          </div>
      </mat-list-item>

      <mat-list-item routerLink="/analytics" routerLinkActive="active" *ngIf="role=='Manager'">
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Analytics</h5>
        </div>
    </mat-list-item>
  
      </mat-nav-list>
  
    </mat-sidenav>

<div class="example-sidenav-content">
    <mat-icon (click)="sidenav.toggle()" class="sidenav-menu" >menu</mat-icon>
</div>
<br> <br>
<div class="center">
    <H2>ADD ITEM</H2>
</div>
<div >
    
            <div class="center">
            <div class="login-form">
                <form [formGroup]="ItemForm" class="form">

                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Item Name</label>
                            <input id="user" type="text" class="input" formControlName="name">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Item Cost</label>
                            <input id="pass" type="text" class="input" formControlName="cost" placeholder="">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Category:</label>
                            <select id="pass" name="pass" class="input" formControlName="category">
                                <option value="Indian">Indian</option>
                                <option value="Indian2.0">Indian2.0</option>
                                
                            </select>
                        </div>
                        <div class="group">
                            <label for="pass" class="label" >Veg/Non-Veg:</label>
                            <select id="pass" name="pass" class="input" formControlName="isVeg">
                                <option value="Veg">Veg</option>
                                <option value="Non-Veg">Non-Veg</option>
                                
                            </select>
                        </div>
                        <!-- <div class="group">
                            <td>
                                <label for="pass" class="label">Ingredient1 </label>
                                <input id="pass" type="text" class="input" formControlName="salary" placeholder="">\
                            </td>
                            <td>
                                <label for="pass" class="label">Quantity </label>
                                <input id="pass" type="text" class="input" formControlName="salary" placeholder="">
                            </td>
                        </div> -->
                        <!-- <div class="group">
                            
                        </div> -->
                        <!-- <div formControlName="ingredients">   -->
                         
                        <div formArrayName="ingredients"  
                            *ngFor="let item of iterator(); let i = index;" class="group">
                            <div [formGroupName]="i">
                                <td>
                                    <label for="pass" class="label">Ingredient </label>
                                    <input id="pass" type="text" class="input" formControlName="ingredient" placeholder="">
                                </td>
                                <td>
                                    <label for="pass" class="label">Quantity </label>
                                    <input id="pass" type="text" class="input" formControlName="quantity" placeholder="">
                                </td>
                            </div>  
                        </div>
                        </div>  
                        <div class="group">
                            <strong> ADD INGREDIENT : </strong><input type="submit" class="button" (click)="addItem()" value="Add Ingredient">

                        </div>
                        <br> 
                        <br>
                        <div class="group">
                            <input type="submit" class="button" (click)="newItem()" [disabled]="!ItemForm.valid" value="Add">
                        </div>
                        
                    <!-- </div> -->
                </form>
            </div>
            </div>
            </div>


        </mat-sidenav-container>

        <router-outlet></router-outlet>