<mat-sidenav-container fullscreen>
    
    <ul class="ul">
        <li class="li" style="float:right"><a class="active" href="/login">Log Out</a></li>
    </ul>

    <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
      (mouseleave)="decrease()">
      <div class="logomain"></div>
      <br>
      <mat-nav-list>
        <mat-list-item routerLink="/employee" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>person</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Employees</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/addemployee" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>add</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Add Employee</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/ingredient" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>store</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Ingredients</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/item" routerLinkActive="active" *ngIf="role=='Manager'">
            <mat-icon mat-list-icon>view_list</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Menu</h5>
            </div>
        </mat-list-item>
    
        <mat-list-item routerLink="/additem" routerLinkActive="active" *ngIf="role=='Manager'">
            <mat-icon mat-list-icon>add</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Add Item</h5>
            </div>
        </mat-list-item>

        <mat-list-item routerLink="/tables" routerLinkActive="active" *ngIf="role=='Manager' || role=='Waiter'">
            <mat-icon mat-list-icon>tab</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Tables</h5>
            </div>
          </mat-list-item>
          
          <mat-list-item routerLink="/order" routerLinkActive="active" *ngIf="role=='Manager' || role=='Waiter' || role=='Customer'">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Place Order</h5>
            </div>
        </mat-list-item>
  
        <mat-list-item routerLink="/current" routerLinkActive="active" *ngIf="role=='Manager'">
          <mat-icon mat-list-icon>list</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Current Orders</h5>
          </div>
      </mat-list-item>

      <mat-list-item routerLink="/analytics" routerLinkActive="active" *ngIf="role=='Manager'">
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Analytics</h5>
        </div>
    </mat-list-item>

      </mat-nav-list>
  
    </mat-sidenav>

    <div class="example-sidenav-content">
      <mat-icon (click)="sidenav.toggle()" class="sidenav-menu" >menu</mat-icon>
  </div>

<br>
<div class="centre"><h1>Place Order</h1></div>

<div class="vertical">
    <div class="vertical" *ngFor="let items1 of items;let i = index;">
        <H2><p>{{ categories[i] }}</p> </H2>
    <div class="row">
      <div  *ngFor="let item of items1" class = "sss">
        <mat-card>
          
          
            <mat-card-title>
                
              <h4><strong>Item :</strong>  {{item.item_name}}</h4>
            </mat-card-title>
  
            <mat-card-content>
              <h4><strong>Prize :</strong>  {{item.price}}</h4>
            </mat-card-content>
            <mat-card-actions>
                <strong>Quantity :   </strong>
                <input type=button value="+" (click)="ItemIncrease(item)" />
                {{ item.quantity }}
                <input type=button value="-" (click)="ItemDecrease(item)" />
                
            </mat-card-actions>
          
        </mat-card>
      </div>
    </div>
</div>
  </div>
  <div>
<div class="center">
<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="payment_method">
    <mat-option>None</mat-option>
    <mat-option value="UPI">UPI</mat-option>
    <mat-option value="Cash">Cash</mat-option>
    <mat-option value="Card">Card</mat-option>
  </mat-select>
</mat-form-field>
</div>
<div> <h2> Total : {{ total }} </h2> </div>
<button class="dropbtn" (click)="PlaceOrder()" [disabled]="!total" > Place Order </button></div>



</mat-sidenav-container>

<router-outlet></router-outlet>