
    

    <mat-sidenav-container fullscreen>

        <ul>
          <li style="float:right"><a class="active" href="/login">Log Out</a></li>

          <li style="float:right"><a class="active" href="/addemployee">Add Employee</a></li>
        </ul>


        <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
          (mouseleave)="decrease()" >
          <div class="logomain"></div>
          <br>
          <mat-nav-list>
            <mat-list-item routerLink="/employee" routerLinkActive="active" *ngIf="role=='Manager'">
              <mat-icon mat-list-icon>person</mat-icon>
              <div fxFlex="10"></div>
              <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                <h5 class="lead">Employees</h5>
              </div>
            </mat-list-item>
      
            <mat-list-item routerLink="/addemployee" routerLinkActive="active" *ngIf="role=='Manager'">
              <mat-icon mat-list-icon>add</mat-icon>
              <div fxFlex="10"></div>
              <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                <h5 class="lead">Add Employee</h5>
              </div>
            </mat-list-item>
      
            <mat-list-item routerLink="/ingredient" routerLinkActive="active" *ngIf="role=='Manager'">
              <mat-icon mat-list-icon>store</mat-icon>
              <div fxFlex="10"></div>
              <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                <h5 class="lead">Ingredients</h5>
              </div>
            </mat-list-item>
      
            <mat-list-item routerLink="/item" routerLinkActive="active" *ngIf="role=='Manager'">
                <mat-icon mat-list-icon>view_list</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <h5 class="lead">Menu</h5>
                </div>
            </mat-list-item>
        
            <mat-list-item routerLink="/additem" routerLinkActive="active" *ngIf="role=='Manager'">
                <mat-icon mat-list-icon>add</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <h5 class="lead">Add Item</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="/tables" routerLinkActive="active" *ngIf="role=='Manager' || role=='Waiter'">
                <mat-icon mat-list-icon>tab</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <h5 class="lead">Tables</h5>
                </div>
              </mat-list-item>
              
              <mat-list-item routerLink="/order" routerLinkActive="active" *ngIf="role=='Manager' || role=='Waiter' || role=='Customer'">
                <mat-icon mat-list-icon>shopping_cart</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <h5 class="lead">Place Order</h5>
                </div>
            </mat-list-item>
      
            <mat-list-item routerLink="/current" routerLinkActive="active" *ngIf="role=='Manager'">
              <mat-icon mat-list-icon>list</mat-icon>
              <div fxFlex="10"></div>
              <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                <h5 class="lead">Current Orders</h5>
              </div>
          </mat-list-item>

          <mat-list-item routerLink="/analytics" routerLinkActive="active" *ngIf="role=='Manager'">
            <mat-icon mat-list-icon>trending_up</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Analytics</h5>
            </div>
        </mat-list-item>
      
          </mat-nav-list>
      
        </mat-sidenav>
      
        <div class="example-sidenav-content">
          <mat-icon (click)="sidenav.toggle()" class="sidenav-menu" >menu</mat-icon>
          <br>
      </div>
      <br>      

<div class="bg-img">

<div class="card-container">
  <br>
    <div class="dropdown">
        <button  (click)="showchefs = !showchefs"  class="dropbtn">Chefs</button>
        <div *ngIf="chefs" allign="center">
            
            <table mat-table [dataSource]="chefs" class="mat-elevation-z8" width="90%" [hidden]="!showchefs">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Name </th>
                    <td mat-cell *matCellDef="let chef">  {{chef.name}} </td>
                </ng-container>
                <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Contact </th>
                    <td mat-cell *matCellDef="let chef"> {{chef.phone_number}} </td>
                </ng-container>
                <ng-container matColumnDef="shift_timings">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Shift Timings </th>
                    <td mat-cell *matCellDef="let chef"> {{chef.shift_start_time}} - {{chef.shift_end_time}} </td>
                </ng-container>
                <ng-container matColumnDef="chef_rank">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Chef Rank </th>
                    <td mat-cell *matCellDef="let chef"> {{chef.chef_rank}} </td>
                </ng-container>
                <ng-container matColumnDef="cuisine">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Cuisine </th>
                    <td mat-cell *matCellDef="let chef"> {{chef.cuisine}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="chefscolumn"></tr>
                <tr mat-row *matRowDef="let row; columns: chefscolumn;"></tr>
            </table>

            
        </div>
    </div>

    <br><br>
    <div class="dropdown">
        <button  (click)="showwaiters = !showwaiters"  class="dropbtn">Waiters</button>
        <div  *ngIf="waiters" allign="center">
            
            <table mat-table [dataSource]="waiters" class="mat-elevation-z8" width="90%" [hidden]="!showwaiters">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Name </th>
                    <td mat-cell *matCellDef="let waiter">  {{waiter.name}} </td>
                </ng-container>
                <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Contact </th>
                    <td mat-cell *matCellDef="let waiter"> {{waiter.phone_number}} </td>
                </ng-container>
                <ng-container matColumnDef="shift_timings">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Shift Timings </th>
                    <td mat-cell *matCellDef="let waiter"> {{waiter.shift_start_time}} - {{waiter.shift_end_time}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="waiterscolumn"></tr>
                <tr mat-row *matRowDef="let row; columns: waiterscolumn;"></tr>
            </table>

        </div>
    </div>

    <br><br>
    <div class="dropdown">
        <button  (click)="showdeliverypersons = !showdeliverypersons"  class="dropbtn">Delivery Persons</button>
        <div *ngIf="del_persons" allign="center">

            <table mat-table [dataSource]="del_persons" class="mat-elevation-z8" width="90%" [hidden]="!showdeliverypersons">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Name </th>
                    <td mat-cell *matCellDef="let del_person">  {{del_person.name}} </td>
                </ng-container>
                <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Contact </th>
                    <td mat-cell *matCellDef="let del_person"> {{del_person.phone_number}} </td>
                </ng-container>
                <ng-container matColumnDef="shift_timings">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Shift Timings </th>
                    <td mat-cell *matCellDef="let del_person"> {{del_person.shift_start_time}} - {{del_person.shift_end_time}} </td>
                </ng-container>
                <ng-container matColumnDef="primary_area">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Primary Area </th>
                    <td mat-cell *matCellDef="let del_person"> {{del_person.primary_area}} </td>
                </ng-container>
                <ng-container matColumnDef="average_rating">
                    <th mat-header-cell *matHeaderCellDef class="table-header"> Average rating </th>
                    <td mat-cell *matCellDef="let del_person"> {{del_person.average_rating}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="del_persons_column"></tr>
                <tr mat-row *matRowDef="let row; columns: del_persons_column;"></tr>
            </table>

        </div>
    </div>

</div>

</div>
</mat-sidenav-container>

<router-outlet></router-outlet> 